:root {
    font-family: Arial, Helvetica, sans-serif;
    --main-color: rgb(247, 218, 218);
    --sub-color: rgb(196, 70, 61);
}

body {
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: minmax(250px,300px) 3fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    height: auto;
    margin: 0;
}

p {
    color: grey;    
}

.profile-pic{
    background-size: contain;
    border: none;
    border-radius: 100%;
}

.owner {
    background-image: url("images/icon-sheb.jpg");
}


/* Side Menu Elements */
.side-menu {
    background-color:var(--sub-color);
    color: white;
    grid-area: 1/1/4/1;
    display:grid;
    align-items: center;
    grid-template-rows: 40px repeat(11, 40px);
    padding-top: 30px;
    padding-left: 30px;
}

.side-menu h2 > *, .side-menu a > * {
    display: inline-block;
    vertical-align: middle;
}

.side-menu h2 {
    margin-left: -10px;
    font-size: 25px;
}

.side-menu a {
    font-weight: bold;
    text-decoration: none;
    font-size: 19px;
}
.side-menu a:visited {
    color: white;
}

.side-menu svg {
    margin-right: 10px;
}

/* Header Elements */
header {
    background-color:white;
    grid-area: 1/2/1/4;
    padding: 10px 30px;
}

.upper-container {
    display: grid;
    grid-template-columns: 20px minmax(100px, 1000px) 50px 50px 50px 150px;
    grid-template-rows: 50px;
    gap: 20px;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.upper-container input {
    background-color: var(--main-color);
    border-radius: 15px;
    border: none;
    height: 30px;
}

.upper-container button {
    height: 50px;
    background-color: inherit;
    border: none;
}

.upper-container a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.upper-container a:visited {
    color: black;
}

.lower-container {
    display: grid;
    grid-template-columns: 90px minmax(100px, 1000px) repeat(3, 100px);
    grid-template-rows: 60px;
    align-items: center;
    
}

.lower-container img {
    width: 70px;
    height: 70px;
}

.lower-container > div > * {
    margin: 0;
}

.lower-container button {
    font: bold 15px Arial;
    color: white;
    background-color: var(--sub-color);
    border: none;
    border-radius: 20px;
    width: 90px;
    height: 35px;
}

.content h1, .container-right h1 {
    font-size: 20px;
}

.content.main {
    grid-area: 2/2/4/2;
    margin: 0 10px 0 20px; 
}

.grid-project {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    align-items: center;
    gap: 15px;
}

.entry-project {
    box-sizing: border-box;
    background-color: white;
    border-style: solid;
    border-color: white white white orange;
    border-width: 0px 0 0 5px;
    border-radius: 10px;
    padding: 20px 15px;
    margin: 0;
    height: 100%;
    position: relative;
}

.entry-project h1 {
    width: 100%;
    text-align: left;
    font-size: 17px;
    margin-bottom: 0;
}

.entry-project p {
    font-size: 15px;
    margin-top: 5px;
}

.entry-project button {
    background-color: inherit;
    border-width: 0;
    color: rgb(87, 82, 82);
    
}

.buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.container-right {
    grid-area: 2/3/4/3;
    margin-left: 10px;
    margin-right: 20px;
}

.content.announcements, .content.trending {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.divider {
    border: 1px rgb(138, 138, 138) solid;
}

.announcements button {
    display: grid;
    grid-template-columns: 80px ;
}

.announcements h1 {
    font-size: 15px;
}

.announcements p {
    font-size: 13px;
}

.content.trending { 
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.entry-trending {
    display: grid;
    grid-template-columns: 50px 200px;
    grid-template-rows: 25px 25px;
    text-align: left;
    background-color: inherit; 
    border: none;
}

.entry-trending img {
    grid-area: 1/1/3/1;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.entry-trending h1 {
    grid-area: 1/2/1/2;
    font-size: 15px;
    margin-left: 5px;
}

.entry-trending p {
    grid-area: 2/2/2/2;
    margin-top: 4px;
    margin-left: 5px;
}