:root {
    font-family: Arial, Helvetica, sans-serif;
    --main-color: rgb(247, 218, 218);
    --sub-color: rgb(196, 70, 61);
}

body {
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    height: 100vh;
    margin: 0;
}

p {
    color: grey;    
}

.profile-pic{
    background-size: contain;
    border: none;
    border-radius: 100%;
}

.owner {
    background-image: url("images/icon-sheb.jpg");
}


/* Side Menu Elements */
.side-menu {
    background-color:var(--sub-color);
    color: white;
    grid-area: 1/1/4/1;
    display:grid;
    align-items: center;
    grid-template-rows: 40px repeat(11, 40px);
    padding-top: 30px;
    padding-left: 30px;
}

.side-menu h2 > *, .side-menu a > * {
    display: inline-block;
    vertical-align: middle;
}

.side-menu h2 {
    margin-left: -10px;
    font-size: 25px;
}

.side-menu a {
    font-weight: bold;
    text-decoration: none;
    font-size: 19px;
}
.side-menu a:visited {
    color: white;
}

.side-menu svg {
    margin-right: 10px;
}

/* Header Elements */
header {
    background-color:white;
    grid-area: 1/2/1/4;
    padding: 20px 30px;
}

.upper-container {
    display: grid;
    grid-template-columns: 20px minmax(100px, 500px) 50px 50px 150px;
    grid-template-rows: 50px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.upper-container input {
    background-color: var(--main-color);
    border-radius: 15px;
    border: none;
    height: 30px;
}

.upper-container button {
    height: 50px;
    background-color: inherit;
    border: none;
}

.upper-container a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.upper-container a:visited {
    color: black;
}

.lower-container {
    display: grid;
    grid-template-columns: 100px minmax(100px, 700px) repeat(3, 100px);
    grid-template-rows: 80px;
    align-items: center;
    
}

.lower-container img {
    width: 80px;
    height: 80px;
}

.lower-container > div > * {
    margin: 0;
}

.lower-container button {
    font: bold 15px Arial;
    color: white;
    background-color: var(--sub-color);
    border: none;
    border-radius: 20px;
    width: 90px;
    height: 40px;
}

.content.main {
    grid-area: 2/2/4/2;
    
}

.grid-project {
    display:grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: repeat(auto-fit, 300px);
}

.entry-project {
    background-color: white;
    border-style: solid;
    border-color: white white white orange;
    border-width: 4px;
    border-radius: 5px;
}

.container-right {
    grid-area: 2/3/4/3;
}

.content.announcements, .content.trending {
    background-color: white;
}