body {
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    height: 100vh;
    margin: 0;

}

.side-menu {
    background-color:cornflowerblue;
    grid-area: 1/1/4/1;
}

.side-menu a {
    display: block;
}

.header {
    background-color:white;
    grid-area: 1/2/1/4;
}

.content {
    font-size: 20px;
    font-weight: bold;
}

.content.main {
    grid-area: 2/2/4/2;
}

.container-right {
    grid-area: 2/3/4/3;
}

.main::before {
    content: "Your Projects"
}

.announcements::before {
    content: "Announcements"
}

.trending::before {
    content: "Trending"
}